<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改图书管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-books-edit" th:object="${books}">
            <input name="BookID" th:field="*{BookID}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">图书标题：</label>
                <div class="col-sm-8">
                    <input name="Title" th:field="*{Title}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">作者：</label>
                <div class="col-sm-8">
                    <input name="Author" th:field="*{Author}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出版商：</label>
                <div class="col-sm-8">
                    <input name="Publisher" th:field="*{Publisher}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出版日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="PublishDate" th:value="${#dates.format(books.PublishDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">国际标准书号：</label>
                <div class="col-sm-8">
                    <input name="ISBN" th:field="*{ISBN}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图书类别：</label>
                <div class="col-sm-8">
                    <input name="Category" th:field="*{Category}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/books";
        $("#form-books-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-books-edit').serialize());
            }
        }

        $("input[name='PublishDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>